<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="logo-wrap">
      <a class="logo" href="#"><img src="./assets/img/brand2.png" height="250px" height="50"></a>
    </div>
  </div>
</nav>
