<section class="register-block">
  <div class="panel panel-primary">
    <div class="panel-heading">CONFIRMATION</div>
    <div class="panel-body">
      <section class="confirmation-block">
        <div class="alert alert-success">
          Please check your <strong>Email id</strong> for further updates.
        </div>
      </section>
    </div>
  </div>
</section>
